{% extends 'AppBundle:Admin:base.html.twig' %}

{% block title %}Accueil Admin{% endblock %}

{% block header %}
    Album {{ album.name }}
    {% if album.id not in disabledAlbums %}
        <span style="font-size: 0.5em" class="label label-success">Album activé</span>
    {% else %}
        <span style="font-size: 0.5em" class="label label-danger">Album désactivé</span>
    {% endif %}

{% endblock %}

{% block breadcumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('site_home', {'project_name': site.username}) }}">
            <i class="fa fa-dashboard"></i> Mon site
        </a>
    </li>
    <li class="active">Admin</li>
</ol>
{% endblock %}

{% block body %}

    <div class="navbar-collapse">
        <div class="nav navbar-right btn-group">
            <a href="{{ path('admin_album', {'project_name': site.userName, 'album_id': album.id, 'type': 'list'}) }}"
               class="btn btn-default navbar-btn {{ type == "list" ? "active" : "" }}">
                <i class="fa fa-list fa-fw"></i>
            </a>
            <a href="{{ path('admin_album', {'project_name': site.userName, 'album_id': album.id, 'type': 'large'}) }}"
               class="btn btn-default navbar-btn {{ type == "large" ? "active" : "" }}">
                <i class="fa fa-th-large fa-fw"></i>
            </a>
        </div>
    </div>

    {% if type == "list" %}
        {% include "AppBundle:Parts:admin_album_list.html.twig" with {'site' : site ,'album': album} %}
    {% else %}
        {% include "AppBundle:Parts:admin_album_large.html.twig" with {'site' : site , 'album': album} %}
    {% endif %}

{% endblock %}