<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} | MyPhotoBook</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block stylesheet %}{% endblock %}

    {% stylesheets 'assets/bower/bootstrap/dist/css/bootstrap.css' 'assets/bower/font-awesome/css/font-awesome.css'
        'assets/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css' 'assets/bower/select2/dist/css/select2.css'
        'assets/bower/Ionicons/css/ionicons.css' 'assets/css/AdminLTE.css' 'assets/css/_all-skins.css'
        'assets/css/helper.css' 'assets/bower/lightbox2/dist/css/lightbox.css'
        output='compiled/css/main.css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

    {% stylesheets 'assets/css/extension/*' output='compiled/css/extension.css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    {% block head %}{% endblock %}
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition
    {{ site is defined and site.skinColor is defined ? site.skinColor : skinColor}}
    sidebar-mini" data-sub_domain="{{ site.username }}">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="{{ path('admin_index', {'project_name': site.username}) }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>M</b>PB</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>My</b>PhotoBook</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                {% set currentPath = app.request.attributes.get('_route') %}
                <li class="header">Options</li>
                <!-- Optionally, you can add icons to the links -->
                <li><a href="#"><i class="fa fa-file-text-o"></i> <span>Choisir ma disposition</span></a></li>
                <li class="{{ currentPath == 'admin_colorChoice' ? 'active': '' }}">
                    <a href="{{ path('admin_colorChoice', {'project_name': site.username}) }}">
                        <i class="fa fa-adjust"></i> <span>Choisir ma couleur</span>
                    </a>
                </li>
                <li class="{{ currentPath == 'admin_albums' ? 'active': '' }}">
                    <a href="{{ path('admin_albums', {'project_name': site.username}) }}">
                        <i class="fa fa-cloud-upload"></i> <span>Choisir mes albums</span>
                    </a>
                </li>
                <li><a href="#"><i class="fa fa-file-image-o"></i> <span>Choisir mes photos</span></a></li>
                <li class="{{ currentPath == 'photo_upload' ? 'active': '' }}">
                    <a href="{{ path('photo_upload', {'project_name': site.username}) }}">
                        <i class="fa fa-cloud-upload"></i> <span>Uploader une photo</span>
                    </a>
                </li>
            </ul>
            <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
                <a href="{{ path('site_home', {'project_name': site.username}) }}">Retourner sur le site</a>
            </p>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {% block header %}Page Header{% endblock %}
                <small>{% block subheader %}{% endblock %}</small>
            </h1>

            {% block breadcumb %}{% endblock %}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            {% include "AppBundle:Parts:flashbag.html.twig" %}
            {% block body %}

            {% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 <a href="{{ path('homepage') }}">MyPhotoBook</a>.</strong> All rights reserved.
    </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% javascripts 'assets/bower/jquery/dist/jquery.js' 'assets/bower/bootstrap/dist/js/bootstrap.js'
    'assets/js/adminlte.js' 'assets/bower/jquery-ui/jquery-ui.js' 'assets/bower/moment/moment.js'
    'assets/bower/moment/locale/fr.js' 'assets/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.js'
    'assets/bower/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js'
    'assets/bower/select2/dist/js/select2.js' 'assets/bower/select2/dist/js/i18n/fr.js'
    'assets/js/color_script.js' 'assets/bower/lightbox2/dist/js/lightbox.js' 'assets/js/app.js'
    output='compiled/js/main.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascript %}{% endblock %}

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>