{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ site.oAuthUser.name }} | MyPhotoBook{% endblock %}

{% block header %}

{% endblock %}

{% block breadcumb %}
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-dashboard"></i> Page d'accueil
        </li>
    </ol>
{% endblock %}


{% block body %}
<div class="navbar-collapse">
    <div class="nav navbar-right btn-group">
        <a href="{{ path('site_home', {'project_name': site.userName, 'type': 'mosaic'}) }}"
           class="btn btn-default navbar-btn {{ type == "mosaic" ? "active" : "" }}">
            <i class="fa fa-th-list fa-fw"></i>
        </a>
        <a href="{{ path('site_home', {'project_name': site.userName, 'type': 'masonry'}) }}"
           class="btn btn-default navbar-btn {{ type == "masonry" ? "active" : "" }}">
            <i class="fa fa-th-large fa-fw"></i>
        </a>
    </div>
</div>

    {% if type == "mosaic" %}
        {% include "AppBundle:Parts:site_home_mosaic.html.twig" with {'site': site} %}
    {% elseif type == "masonry" %}
        {% include "AppBundle:Parts:site_home_masonry.html.twig" with {'site': site} %}
    {% else %}
    {% endif %}

    <!-- /.box-body -->


{% endblock %}