<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modification des sites</title>
    <link rel="stylesheet" href="{{ asset('assets/bower/bootstrap/dist/css/bootstrap.css') }}">
</head>
<body>
<div class="container">
    <form action="{{ path('manage_homepage') }}" method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Site</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                {% set site_link = path('site_home', {'project_name': site.userName}) %}
                <tr>
                    <td><a href="{{ site_link }}">{{ site.userName }}</a></td>
                    <td><label><input type="checkbox" name="site[]" value="{{ site.id }}"></label></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-info">Valider</button></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>